<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <form class="example-form" [formGroup]="addPetForm" (ngSubmit)="onSubmit(addPetForm)">
        <div class="ct-form">
          <!--
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Pet</mat-label>
            <input formControlName="categorize" matInput placeholder="Pet Categorize">
          </mat-form-field> -->

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Advertisement Title</mat-label>
            <input formControlName="title" matInput placeholder="Advertisement Title">
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Explanation</mat-label>
            <textarea formControlName="explanation" matInput placeholder="Explanation"></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline" class="mt-2">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="active">Active</mat-option>
              <!-- <mat-option value="temporary"></mat-option> -->
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="mt-2">
            <mat-label>Choose a date</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Image Url</mat-label>
            <input formControlName="imageURL" matInput placeholder="imageURL"/>
          </mat-form-field>
          <!-- <div class="file mb-2">
            <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
            <input hidden #fileInput (change)="fileUpload($event)" type="file" id="file">
          </div> -->
          <button mat-raised-button color="primary" class="mr-auto w-50">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
